atomicwrites==1.4.0
attrs==21.2.0
backports.functools-lru-cache==1.6.4
configparser==4.0.2
contextlib2==0.6.0.post1
funcsigs==1.0.2
importlib-metadata==2.1.1
more-itertools==5.0.0
MySQL-python==1.2.5
packaging==20.9
pathlib2==2.3.6
Pillow==5.4.1
Pinax==0.9a2
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==4.6.11
scandir==1.10.0
six==1.16.0
virtualenv==1.11.6
wcwidth==0.2.5
zipp==1.2.0
